body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter', sans-serif;
}

h1 {
    font-size: 4em !important;
}

h2 {
    font-size: 2.5em !important;
}

h3 {
    font-size: 1.17em;
}

h4 {
    font-size: 1.12em;
}

.glassy-gradient-text{
    background: linear-gradient(
            to right,

            #C8D2DC 50%,
            #AFCAD9 75%,
            #BDCAD9 100%

    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: textShine 2s ease-in-out infinite alternate;
}

@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}